##
# Cloudflare tunnel token. Available at Cloudflare > Zero trust > Networks > Tunnel
#
CLOUDFLARE_TOKEN=

##
# Open ai key. https://platform.openai.com/settings/organization/api-keys
#
OPENAI_API_KEY=

## ---------------- GOVEE ----------------
# https://github.com/wez/govee2mqtt/blob/main/docs/CONFIG.md#lan-api-control
# Optional, but strongly recommended
#GOVEE_EMAIL=
#GOVEE_PASSWORD=
#GOVEE_API_KEY=

GOVEE_MQTT_HOST=
GOVEE_MQTT_PORT=
GOVEE_MQTT_USER=
GOVEE_MQTT_PASSWORD=
GOVEE_LAN_SCAN=

# Specify the temperature scale to use, either C for Celsius
# or F for Fahrenheit
GOVEE_TEMPERATURE_SCALE=C

# Always use colorized output
RUST_LOG_STYLE=always

# If you are asked to set the debug level, uncomment the next line
# RUST_LOG=govee=trace

# Set the timezone for timestamps in the log
TZ=Europe/Amsterdam