services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    environment:
      TZ: Europe/Amsterdam
    volumes:
      - /opt/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    ports:
      - 8123:8123
    restart: unless-stopped
    privileged: true

  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    restart: unless-stopped
    ports:
      - "9000:9000/tcp"
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/portainer:/data

  cloudflared:
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}
    restart: unless-stopped

  ## wyoming
  whisper:
    container_name: whisper
    image: rhasspy/wyoming-whisper
    command: --model medium.en --language en
    volumes:
      - /opt/whisper-data:/data
    environment:
      - TZ=Europe/Amsterdam
    restart: unless-stopped
    ports:
      - 10300:10300
  ###
  piper:
    container_name: piper
    image: rhasspy/wyoming-piper
    #command: --voice en_US-lessac-medium
    command: --voice nl_NL-pim-medium
    volumes:
      - /opt/piper-data:/data
    environment:
      - TZ=Europe/Amsterdam
    restart: unless-stopped
    ports:
      - 10200:10200
